@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-Black.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-BlackItalic.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-Bold.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-BoldItalic.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-ExtraBold.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-Italic.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-LightItalic.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-Light.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-Medium.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-Regular.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-MediumItalic.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-Thin.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/alegreya_sans/AlegreyaSans-ThinItalic.woff2') format('woff2'),
        url('../font/alegreya_sans/AlegreyaSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

