@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/../font/alegreya/Alegreya-Black.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-BlackItalic.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-Bold.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-ExtraBold.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-BoldItalic.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-Italic.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-MediumItalic.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-Medium.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-Regular.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-SemiBold.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../font/alegreya/Alegreya-SemiBoldItalic.woff2') format('woff2'),
        url('../font/alegreya/Alegreya-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

