/*------ Globa Styles------*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {

    h1,
    a,
    p,
    button {
        font-family: "Open Sans", sans-serif;
    }

    h4,
    h5,
    h3,
    h6 {
        font-family: "Amatic SC", sans-serif;
        font-weight: 500;
    }

    h2 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
    }
}

button {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

span,
a {
    display: inline-block;
}

ul {
    padding-left: 0px;
    list-style: none;
}

/* #endregion reset */

/* #region grid system */
.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

